html {
	background-color: rgb(38, 38, 37);
}

body {
	margin: 0;
}

h1 {
	z-index: 1;
	filter: drop-shadow(0 1px 8px rgba(0,0,0,0.25));
	pointer-events : none
}

header {
	position: fixed;
	top: 25px;
	left: 10px;
	z-index: 999;
	font-family: "Montserrat";
	font-weight: 200;
	filter: drop-shadow(0 1px 7px rgba(0,0,0,0.5));
	padding: 30px;
}

.header_links a {
	margin: auto 40px;
	font-size: 3em;
	text-decoration: none;
	color: rgb(231, 236, 255);
	transition: all 50ms;
	transition-timing-function: ease-in-out;
	}
	
.current {
	transform: scale(1.2);
}

.current a {
	color: rgb(0, 236, 255);
}

.header_links a:hover {
	color: rgb(0, 236, 255);
	transform: scale(1.2);
	}

@media screen and (max-width: 500px) {
  .header_links a {
    font-size: 1em;
	display: grid;
	margin-bottom: 10px;
  }
}

@media screen and (width >= 80rem) {
		.header_links {
		display: flex;
		gap: 3em;
	}
}
.main {
	min-height: 350vh;
}

.h1_art {
  color: rgb(231, 236, 255);
  font-size: 12vw;
  font-family: "Montserrat";
  white-space: nowrap;
  position: fixed;
  font-weight: 900;
}

.h1_graphic {
  color: rgb(231, 236, 255);
  font-size: 12vw;
  font-family: "Montserrat";
  white-space: nowrap;
  position: fixed;
  font-weight: 900;
}

.bg_image_art {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	top: 50%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg_image_graphic {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opacity_hover {
	opacity:65%;
	transition: opacity 500ms
}

.opacity_hover:hover {
	opacity: 100%;
}

div.showcase {
	background-color: rgb(38, 38, 37);
	overflow: visible;
	white-space: nowrap;
	padding: 10px;	
}

div.showcase img {
	padding: 10px;
	height: 20vw;
	transition: all 150ms;
	transition-timing-function: ease-in-out;

}

div.showcase img:hover {
	height: 22vw;
	margin-bottom: -1vw;
}

.showcase_art {
	transform: translateX(200px);
}

.showcase_graphic {
	transform: translateX(-400px);
}

.about_paragraph {
	max-width: 600px;
	max-height: max-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moving_box {
	display: flex ;
	max-width: 350px;
	position: absolute;
	margin-left: -175px;
	margin-top: -190px;
	top: 50%;
	left: 50%;
	pointer-events : none
}

.about {
	color: rgb(231, 236, 255);
	font-family: "Montserrat";
	filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35))
	
}

.about h2 {
	font-weight: 900;
	font-size: 3.4em;
}

.about p {
	font-weight: 200;
	font-size: 1.7em;
}

div.tom_image {
	display: flex ;
	max-height: 600px;
	position: absolute;
	margin-left: -230px;
	margin-top: -300px;
	top: 50%;
	left:50%;
	flex-direction: column;
}

.tom_image img {
		display: flex;
		height: 600px;
		box-shadow: 0 1px 20px rgba(0,0,0,0.55);
		transition: all 150ms;
		position: absolute;
		left: 0;
		transition: left 150ms, transform 500ms, border-radius 500ms;
	}

@media screen and (width >= 1000px) {
	.tom_image img {
		display: flex;
		position: relative;
		left: -300px;
	}
}

.tom_image img:hover {
	border-radius: 40px;
	transform: scale(1.1);
}

span.logos {
	display: flex;
	max-height: 150px;
	max-width: 840px;
	position: fixed;
	margin-left: -420px;
	margin-top: -75px;
	top: 50%;
	left:50%;
	justify-content: center;
	align-items: center;
}
@media screen and (width <= 750px) {
	span.logos {
		flex-direction: column;
		margin-left: -170px;
		margin-top: -75px;
	}
}


.logos img {
	display: flex;
	height: 150px;
	padding: 50px;
	flex-direction: column;
	transition: transform 150ms;
	filter: brightness(0) saturate(100%) invert(88%) sepia(4%) saturate(1875%) hue-rotate(197deg) brightness(104%) contrast(104%);
}

.logos img:hover {
	transform: scale(1.2);
	filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(4781%) hue-rotate(138deg) brightness(104%) contrast(105%); 
}