html {
	background-color: rgb(38, 38, 37);
}

body {
	margin: 0;
}

h1 {
	z-index: 1;
	filter: drop-shadow(0 1px 8px rgba(0,0,0,0.25));
	pointer-events : none
}

header {
	position: fixed;
	top: 25px;
	left: 10px;
	z-index: 999;
	font-family: "Montserrat";
	font-weight: 200;
	filter: drop-shadow(0 1px 7px rgba(0,0,0,0.5));
	padding: 30px;
}

.header_links a {
	margin: auto 40px;
	font-size: 3em;
	text-decoration: none;
	color: rgb(231, 236, 255);
	transition: all 50ms;
	transition-timing-function: ease-in-out;
	}
	
.current a {
	color: rgb(0, 236, 255);
}

.header_links a:hover {
	color: rgb(0, 236, 255);
	transform: scale(1.2);
	}

@media screen and (max-width: 500px) {
  .header_links a {
    font-size: 1em;
	display: grid;
  }
}

@media screen and (width >= 80rem) {
		.header_links {
		display: flex;
		gap: 3em;
	}
}
.main {
	min-height: 200vh;
}

.h1_art {
  color: rgb(231, 236, 255);
  font-size: 12vw;
  font-family: "Montserrat";
  white-space: nowrap;
  position: fixed;
  font-weight: 900;
}

.h1_graphic {
  color: rgb(231, 236, 255);
  font-size: 12vw;
  font-family: "Montserrat";
  white-space: nowrap;
  position: fixed;
  font-weight: 900;
}

.bg_image_art {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	top: 50%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bg_image_graphic {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-size: cover;
	padding-top: 50px;
	padding-bottom: 50px;
	position: fixed;
	top: 0%;
	left: 0%;
	right: 0%;
	bottom: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opacity_hover {
	opacity:65%;
	transition: opacity 500ms
}

.opacity_hover:hover {
	opacity: 100%;
}

div.showcase {
	background-color: rgb(38, 38, 37);
	overflow: visible;
	white-space: nowrap;
	padding: 10px;	
}

div.showcase img {
	padding: 10px;
	height: 20vw;
	transition: all 150ms;
	transition-timing-function: ease-in-out;

}

div.showcase img:hover {
	height: 22vw;
	margin-bottom: -1vw;
}

.about_paragraph {
	max-width: 100px;
	max-height: max-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about_text {
	max-width: 350px;
	position: absolute;
	margin-left: -175px;
	margin-top: -190px;
	top: 50%;
	left: 50%;
	color: rgb(231, 236, 255);
	font-family: "Montserrat";
}

.about_text h2 {
	font-weight: 900;
	font-size: 3.4em;
}

.about_text p {
	font-weight: 200;
	font-size: 1.7em;
}
