html {
	background-color: rgb(38, 38, 37);
}

body {
	margin: 0;
}

/*header css*/

header {
	position: fixed;
	top: 25px;
	left: 10px;
	z-index: 999;
	font-family: "Montserrat";
	font-weight: 200;
	filter: drop-shadow(0 1px 10px rgba(0,0,0,0.65));
	padding: 30px;
}

.header_links a {
	margin: auto 40px;
	font-size: 3em;
	text-decoration: none;
	color: rgb(231, 236, 255);
	transition: all 50ms;
	transition-timing-function: ease-in-out;
	}
	
.current {
	transform: scale(1.2);
}

.current a {
	color: rgb(0, 236, 255);
}

.header_links a:hover {
	color: rgb(0, 236, 255);
	transform: scale(1.2);
	}

@media screen and (max-width: 550px) {
  .header_links a {
    font-size: 2em;
	display: grid;
	margin-bottom: 10px;
  }
}

@media screen and (width >= 80rem) {
		.header_links {
		display: flex;
		gap: 3em;
	}
}

/*main page css*/

.titles h1 {
	color: rgb(231, 236, 255);
	font-size: 10vw;
	font-family: "Montserrat";
	white-space: nowrap;
	font-weight: 900;
	position: relative;
	filter: drop-shadow(0 1px 8px rgba(0,0,0,0.25));
	margin: 0px;
}


.and {
	color: rgb(0, 236, 255);
	font-size: 16vw;
	font-family: "Montserrat";
	white-space: nowrap;
	font-weight: 900;
	justify-content: center;
	align-items: center;
	z-index: 0;
	position: fixed;
	left: 0%;
	right: 0%;
	
	top: 5%;
	margin-top:20vh;
	display: flex;
	filter: blur(0px);
	opacity: 50%;
}

div.titles {
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0%;
	bottom: 0%;
	max-height: 250px;
	display: flex;
	flex-wrap: wrap;
	pointer-events: none;
	z-index: 2;
	margin-top: 20vh;

	
}


.bg_image_art {
	position: relative;
	/*top: -20%;*/
	bottom: 0%;
}

nav.showcase {
	/*background-color: rgb(38, 38, 37);*/
	overflow: visible;
	padding: 10px;	
	position: relative;
	z-index: 1;
	filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35));
	margin: 70vmin 0 auto;
	text-align: center;
	justify-content: center;
	display:flex;
	flex-wrap: wrap;
	
}


.showcase p {
	pointer-events: none;
	position: fixed;
	left: 6%;
	/*right: 0%;
	top: 0%;*/
	bottom: 3%;
	visibility: hidden;
	opacity: 0;
	/*color: rgb(231, 236, 255);*/
	/*color: rgb(38, 38, 37); -without difference blending mode*/
	color: rgb(218, 235, 235);
	font-size: 20px;
	font-family: "Montserrat";
	font-weight: 300;
	transition: all 1ms;
	mix-blend-mode: difference;
	
	
	
	
}
nav.showcase div:hover p {
	
	animation: rotate 400ms ease-out 0ms forwards;
	
}

@keyframes rotate {
	
	0% {
    transform: translateY(40px);
	visibility: hidden;
	opacity: 0;
  }
	100% {
    transform: translateY(0px);
	visibility: visible;
	opacity: 1;
  }
}

@media screen and (min-width: 701px) {
	nav.showcase img {
		
		min-height: 200px;
		
		height: 500px;
		transition: all 180ms;
		transition-timing-function: ease-in-out;
		
	}
	nav.showcase div {
		overflow: hidden;
		min-height: 200px;
		margin: 5px;
		height: 500px;
		
		
		
	
	}
	nav.showcase div:hover {
		transform: scale(1);
	
	}
	nav.showcase img:hover {
		transform: scale(1.1);
		
	
	}
	
}

@media screen and (max-width: 700px) {
  nav.showcase img {
	width: 450px;
	min-width: 250px;
	padding: 10px;
	}
}


/*about css*/

.about_paragraph {
	max-width: 600px;
	max-height: max-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moving_box {
	display: flex ;
	max-width: 350px;
	position: absolute;
	margin-left: -175px;
	margin-top: -190px;
	top: 50%;
	left: 50%;
	pointer-events : none
}

#text_move {
	transition: all 50ms;
}

.about {
	color: rgb(231, 236, 255);
	font-family: "Montserrat";
	filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35))
	
}

.about h2 {
	font-weight: 900;
	font-size: 340%;
}

.about p {
	font-weight: 200;
	font-size: 170%;
}

div.tom_image {
	display: flex ;
	position: absolute;
	margin-left: -230px;
	margin-top: -300px;
	top: 50%;
	left:50%;
	flex-direction: column;
}

.tom_image img {
		display: flex;
		height: 600px;
		box-shadow: 0 1px 20px rgba(0,0,0,0.55);
		transition: all 150ms;
		position: absolute;
		left: 0;
		transition: left 150ms, transform 500ms, border-radius 500ms;
	}

@media screen and (width >= 1000px) {
	.tom_image img {
		display: flex;
		position: relative;
		left: -300px;
	}
}

.tom_image img:hover {
	border-radius: 40px;
	transform: scale(1.1);
}

/*contact css*/

span.logos {
	display: flex;
	max-height: 150px;
	max-width: 840px;
	position: fixed;
	margin-left: -420px;
	margin-top: -75px;
	top: 50%;
	left:50%;
	justify-content: center;
	align-items: center;
}
@media screen and (width <= 750px) {
	span.logos {
		flex-direction: column;
		margin-left: -170px;
		margin-top: -75px;
	}
}


.logos img {
	display: flex;
	height: 150px;
	padding: 50px;
	flex-direction: column;
	transition: transform 150ms;
	filter: brightness(0) saturate(100%) invert(88%) sepia(4%) saturate(1875%) hue-rotate(197deg) brightness(104%) contrast(104%);
}

.logos img:hover {
	transform: scale(1.2);
	filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(4781%) hue-rotate(138deg) brightness(104%) 
	contrast(105%) /*drop-shadow( 0 0px 10px rgba(0, 236, 255,0.15))*/; 
}

/*porject page css*/

.introduction p {
	font-family: "Montserrat";
	font-weight: 200;
	color: rgb(231, 236, 255);
	font-size: 1.2rem;
}


.introduction h2 {
	font-family: "Montserrat";
	font-weight: 400;
	color: rgb(231, 236, 255);
	font-size: 4rem;
}

span.introduction p {
	display: flex;
	flex-direction: column;
	
}

.test_text p {
	font-family: "Montserrat";
	font-weight: 200;
	color: rgb(231, 236, 255);
	font-size: 1.2rem;
}


.test_text h2 {
	font-family: "Montserrat";
	font-weight: 400;
	color: rgb(231, 236, 255);
	font-size: 4rem;
	margin-top: 0;
}

span.test_text p {
	display: grid;
	max-width: 25em;
	padding-right: 180px;
}

span.test_text {
	height: min-content;
	/*margin: auto 0;*/
}

div.gallery img {
	height: 650px;
	width: auto;
	padding: 10px;
	filter: drop-shadow(0 1px 10px rgba(0,0,0,0.25));
}

img.first_pic {
	min-width:300px;
	max-width: 1000px;
}

.test_width img {
	
	height: 100%;
	width: 100%;
	
}

.test_text h2 {
	width: 500px;
	height: auto;
}

.test_width div {
	display: flex;
	margin: 120px auto;
	padding: 0 75px;
	
	max-width: 1280px;
}



@media screen and  (width <= 1000px) {
	.test_width div {
		
		display: grid;
		margin: 200px 50px;
		padding: 0;
		
	}
	div.gallery img {
		
		width: 350px;
		height:auto;
	}
	img.first_pic {
		
		max-width: 300px;
	}
}

span.test_width {
	position: relative;
	top: 100px;
	
}

div.gallery {
	overflow: visible;
	padding: 10px;	
	position: relative;
	z-index: 1;
	/*filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35));*/
	margin: 0 0 auto;
	text-align: center;
	justify-content: center;
	display:flex;
	flex-wrap: wrap;
	max-width: 100vw;
}
