html {
	background-color: rgb(38, 38, 37);
}

body {
	margin: 0;
}

/*header css*/

header {
	position: fixed;
	top: 25px;
	left: 10px;
	z-index: 999;
	font-family: "Montserrat";
	font-weight: 200;
	filter: drop-shadow(0 1px 10px rgba(0,0,0,0.65));
	padding: 30px;
}

.header_links a {
	margin: auto 40px;
	font-size: 3em;
	text-decoration: none;
	color: rgb(231, 236, 255);
	transition: all 50ms;
	transition-timing-function: ease-in-out;
	}
	
.current {
	transform: scale(1.2);
}

.current a {
	color: rgb(0, 236, 255);
}

.header_links a:hover {
	color: rgb(0, 236, 255);
	transform: scale(1.2);
	}

@media screen and (max-width: 500px) {
  .header_links a {
    font-size: 1em;
	display: grid;
	margin-bottom: 10px;
  }
}

@media screen and (width >= 80rem) {
		.header_links {
		display: flex;
		gap: 3em;
	}
}

/*main page css*/

.titles h1 {
	color: rgb(231, 236, 255);
	font-size: 12vw;
	font-family: "Montserrat";
	white-space: nowrap;
	font-weight: 900;
	position: relative;
	filter: drop-shadow(0 1px 8px rgba(0,0,0,0.25));
	
}


.and {
	color: rgb(0, 236, 255);
	font-size: 20vw;
	font-family: "Montserrat";
	white-space: nowrap;
	font-weight: 900;
	justify-content: center;
	align-items: center;
	z-index: 0;
	position: fixed;
	left: 0%;
	right: 0%;
	bottom: 10%;
	top: 0%;
	display: flex;
	filter: blur(0px);
}

.titles div {
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0%;
	right: 0%;
	bottom: 50%;
	display: flex;
	pointer-events: none;
	z-index: 2;
	
}


.bg_image_art {
	position: fixed;
	top: 55%;
	bottom: 0%;
	
}

nav.showcase {
	/*background-color: rgb(38, 38, 37);*/
	overflow: visible;
	padding: 10px;	
	position: relative;
	z-index: 1;
	filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35));
	margin: 880px 0 auto;
	text-align: center;
	justify-content: center;
	display:flex;
	flex-wrap: wrap;
	
}


.showcase p {
	pointer-events: none;
	position: fixed;
	left: 6%;
	/*right: 0%;
	top: 0%;*/
	bottom: 3%;
	visibility: hidden;
	opacity: 0;
	/*color: rgb(231, 236, 255);*/
	color: rgb(38, 38, 37);
	font-size: 20px;
	font-family: "Montserrat";
	font-weight: 400;
	transition: all 1ms;
	
	
	
	
}
nav.showcase div:hover p {
	
	animation: rotate 400ms ease-out 0ms forwards;
	
}

@keyframes rotate {
	
	0% {
    transform: translateY(40px);
	visibility: hidden;
	opacity: 0;
  }
	100% {
    transform: translateY(0px);
	visibility: visible;
	opacity: 1;
  }
}

@media screen and (min-width: 701px) {
	nav.showcase img {

	min-height: 250px;
	
	height: 500px;
	transition: all 60ms;
	transition-timing-function: ease-in-out;
	}

}

@media screen and (min-width: 701px) {
	nav.showcase div {

	min-height: 250px;
	padding: 10px;
	height: 500px;
	transition: all 60ms;
	transition-timing-function: ease-in-out;
	
	}

}

@media screen and (min-width: 701px) {
	/*nav.showcase img:hover {
	height: 550px;
	margin-bottom: -1vw;
	margin-left: -1vw;
	padding: 20px;
	}*/
	nav.showcase div:hover {
	transform: scale(1.07);
	border-radius: 25px;
	padding: 15px;
	}
	nav.showcase img:hover {
	border-radius: 25px;
	
	}
	
}

@media screen and (max-width: 700px) {
  nav.showcase img {
	width: 450px;
	min-width: 250px;
	padding: 10px;
	}
}


/*about css*/

.about_paragraph {
	max-width: 600px;
	max-height: max-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.moving_box {
	display: flex ;
	max-width: 350px;
	position: absolute;
	margin-left: -175px;
	margin-top: -190px;
	top: 50%;
	left: 50%;
	pointer-events : none
}

#text_move {
	transition: all 50ms;
}

.about {
	color: rgb(231, 236, 255);
	font-family: "Montserrat";
	filter: drop-shadow(0 1px 15px rgba(0,0,0,0.35))
	
}

.about h2 {
	font-weight: 900;
	font-size: 340%;
}

.about p {
	font-weight: 200;
	font-size: 170%;
}

div.tom_image {
	display: flex ;
	position: absolute;
	margin-left: -230px;
	margin-top: -300px;
	top: 50%;
	left:50%;
	flex-direction: column;
}

.tom_image img {
		display: flex;
		height: 600px;
		box-shadow: 0 1px 20px rgba(0,0,0,0.55);
		transition: all 150ms;
		position: absolute;
		left: 0;
		transition: left 150ms, transform 500ms, border-radius 500ms;
	}

@media screen and (width >= 1000px) {
	.tom_image img {
		display: flex;
		position: relative;
		left: -300px;
	}
}

.tom_image img:hover {
	border-radius: 40px;
	transform: scale(1.1);
}

/*contact css*/

span.logos {
	display: flex;
	max-height: 150px;
	max-width: 840px;
	position: fixed;
	margin-left: -420px;
	margin-top: -75px;
	top: 50%;
	left:50%;
	justify-content: center;
	align-items: center;
}
@media screen and (width <= 750px) {
	span.logos {
		flex-direction: column;
		margin-left: -170px;
		margin-top: -75px;
	}
}


.logos img {
	display: flex;
	height: 150px;
	padding: 50px;
	flex-direction: column;
	transition: transform 150ms;
	filter: brightness(0) saturate(100%) invert(88%) sepia(4%) saturate(1875%) hue-rotate(197deg) brightness(104%) contrast(104%);
}

.logos img:hover {
	transform: scale(1.2);
	filter: brightness(0) saturate(100%) invert(73%) sepia(21%) saturate(4781%) hue-rotate(138deg) brightness(104%) 
	contrast(105%) /*drop-shadow( 0 0px 10px rgba(0, 236, 255,0.15))*/; 
}

.test_text p {
	font-family: "Montserrat";
	font-weight: 200;
	color: rgb(231, 236, 255);
	font-size: 1.5rem;
}


.test_text h2 {
	font-family: "Montserrat";
	font-weight: 400;
	color: rgb(231, 236, 255);
	font-size: 4rem;
}

span.test_text p {
	display: grid;
	max-width: 25em;
	padding-right: 50px;
}

.test_width img {
	height: 100%;
	width: 100%;
	min-width: 50%;
}

.test_width h2 {
	width: 500px;
	height: auto;
}

.test_width div {
	display: flex;
	margin: 200px 150px;
}

@media screen and  (width <= 1000px) {
	.test_width div {
		display: grid;
	}
}


test_width {
	position: relative;
}